[Desktop Entry]
Name=Visual Studio Code
Comment=Code Editing. Redefined.
GenericName=Text Editor

Exec=code --no-sandbox --disable-gpu --unity-launch %F
Terminal=false
Type=Application

Icon=com.visualstudio.code
StartupNotify=true
StartupWMClass=Code

Categories=TextEditor;Development;IDE;
MimeType=text/plain;inode/directory;application/x-code-workspace;

Actions=new-empty-window;
Keywords=vscode;code;editor;

[Desktop Action new-empty-window]
Name=New Empty Window
Exec=code --no-sandbox --disable-gpu --new-window %F
Icon=com.visualstudio.code